In [1]:
import pandas as pd

In [3]:
!ls

Non supervised learning.ipynb
dados-padaria.csv

In [4]:
dados = pd.read_csv('dados-padaria.csv')

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionNo  20507 non-null  int64
 1   Items          20507 non-null  object
 2   DateTime       20507 non-null  object
 3   Daypart        20507 non-null  object
 4   DayType        20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

In [6]:
dados.head()

   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

In [8]:
transacao = []

for item in dados['TransactionNo'].unique():
    lista = list(set(dados[dados['TransactionNo']==item]['Items']))
    transacao.append(lista)

In [9]:
transacao[0:5]

[['Bread'],
 ['Scandinavian'],
 ['Jam', 'Cookies', 'Hot chocolate'],
 ['Muffin'],
 ['Coffee', 'Bread', 'Pastry']]

 # Regras de associação

In [12]:
!pip install mlxtend --upgrade

Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
                                              0.0/1.4 MB ? eta -:--:--
     ---------------------                    0.7/1.4 MB 23.1 MB/s eta 0:00:01
     ---------------------------------------- 1.4/1.4 MB 21.7 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.1 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in c:\users\pichau\anaconda3\lib\site-packages (from mlxtend) (67.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pichau\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pichau\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pichau\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pichau\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\pichau\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.22.0

In [13]:
from mlxtend.preprocessing import TransactionEncoder

In [14]:
# One hot encoding
te = TransactionEncoder()

In [15]:
transacao_te = te.fit(transacao).transform(transacao)

In [16]:
transacao_te

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [18]:
transacao_transformado = pd.DataFrame(transacao_te, columns=te.columns_)
transacao_transformado.head()

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
from mlxtend.frequent_patterns import apriori

In [20]:
items_frequentes_apriori = apriori(transacao_transformado, use_colnames=True, min_support=0.02)
items_frequentes_apriori.sort_values(['support'], ascending=False)

     support                 itemsets
4   0.478394                 (Coffee)
1   0.327205                  (Bread)
16  0.142631                    (Tea)
3   0.103856                   (Cake)
20  0.090016          (Coffee, Bread)
11  0.086107                 (Pastry)
12  0.071844               (Sandwich)
9   0.061807              (Medialuna)
7   0.058320          (Hot chocolate)
23  0.054728           (Coffee, Cake)
5   0.054411                (Cookies)
31  0.049868            (Coffee, Tea)
29  0.047544         (Coffee, Pastry)
2   0.040042                (Brownie)
6   0.039197             (Farm House)
8   0.038563                  (Juice)
10  0.038457                 (Muffin)
30  0.038246       (Coffee, Sandwich)
0   0.036344              (Alfajores)
28  0.035182      (Medialuna, Coffee)
14  0.034548                  (Scone)
15  0.034443                   (Soup)
17  0.033597                  (Toast)
26  0.029583  (Coffee, Hot chocolate)
21  0.029160          (Bread, Pastry)
13  0.029054           (Scandinavian)
25  0.028209        (Coffee, Cookies)
22  0.028104             (Bread, Tea)
24  0.023772              (Cake, Tea)
32  0.023666          (Coffee, Toast)
19  0.023349            (Bread, Cake)
27  0.020602          (Coffee, Juice)
18  0.020285               (Truffles)

In [21]:
from mlxtend.frequent_patterns import association_rules

In [22]:
regras_apriori = association_rules(items_frequentes_apriori, metric='confidence', min_threshold=0.5)
regras_apriori

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
1,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174,0.081700
2,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553,0.060403
3,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919,0.108738
4,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871,0.170091
5,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682,0.146161
6,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384,0.109205
7,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582,0.332006